<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <title>Menu-Lateral</title>
</head>
<body>
    <div class="menu-lateral">

        <div class="menu-logo">
            <img class="logo-img" src="../assets/images/escudosousa.png" alt="Logo Sousa Esporte Clube">
        </div>
        <h1>MENU</h1>
        <ul class="nav-links-mobile" id="navLinks-mobile">
            <li><a href="#">Home</a></li>
            <li><a href="#">O Clube</a></li>
            <li><a href="#">Estrutura</a></li>
            <li><a href="#">Dino Store</a></li>
            <li><a href="#">Notícias</a></li>
        </ul>
        <div class="button-wrapper">
        <button class="seja-socio">Seja Sócio</button>
        </div>
        <h1>Nossas Redes</h1>


    </div>
    
</body>
</html>